<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextureLoader.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TextureLoader.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextureLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TextureLoader.Resources.Settings>
            <setting name="LoadOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedKey" serializeAs="String">
                <value />
            </setting>
        </TextureLoader.Resources.Settings>
        <TextureLoader.Core.Settings>
            <setting name="LoadOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedKey" serializeAs="String">
                <value />
            </setting>
        </TextureLoader.Core.Settings>
    </applicationSettings>
    <userSettings>
        <TextureLoader.Properties.Settings>
            <setting name="LoadOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </TextureLoader.Properties.Settings>
    </userSettings>
</configuration>